.App {
  text-align: center;
  background-color: #233A4F;
}
body {
  background-color: #233A4F;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
 
.selection {
  display: inline-block;
  margin-left: 1rem;
}

.tools {
  font-size: 1.5rem;
  margin: 2px auto;
  width: 19rem;
}

.tools button {
  border: 1px solid #F29108;
  border-radius: .7rem;
  padding: .2rem;
  cursor: pointer;
  color: white;
  background-color: #F29108;
}

#PercentChange {
  border-radius: 1rem;
  background-color: #2976C2;
  border: 1px solid #2976C2;
  color: white;
  outline: none;
}


.App-footer {
  background-color: #282c34;
  min-height: 7vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0
}


.navBar {
  background-color: #282c34;
  max-height: 4vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

